@import "nullstyle.scss";
@import "_mixins.scss";
$maxwidth:1200;

.conteiner {
	max-width: 1200px;
	margin: 0 auto;
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logotype {
	display: flex;
}
img {
	@include adaptiv-width(40,20);
	@include adaptiv-height(40,20);
	&:hover{
		box-shadow: 0 0 100px yellow;
	}
header{
	padding: 30px;
	background-image: url('../img/fon.jpg');
	margin: 0 0 0 0;
}
h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	@include adaptiv-font(40,20);
	font-weight: 700;
	text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
	color: #fff;
}
.text {

}

.wraper{
}
